{% extends 'manager/dashboard-base.html' %} {% block title %}
<title>Thêm mới sản phẩm</title>
{% endblock title %} {% block content %}
<!-- Main content -->

<body>
    <div class="container bg-light pt-2 pb-2">
        <div class="col mt-3">
            <h3>Thêm mới 1 sản phẩm</h3>
        </div>

        <div class="col form-group">
            <div class="row">
                <div class="col-5">
                    <label for="category">Loại</label>
                    <select class="form-control" name="category" id="category">
                        <option value="" style="display: none">Vui lòng chọn</option>
                        {% for category in categories %}
                        <option value=" {{category.id}} "> {{category.name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-7">
                    <label for="type">Loại sản phẩm</label>
                    <select class="form-control" id="type" name="type">

                        <option value=" {{category.id}} "> {{category.name}} </option>

                    </select>

                </div>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                $('#category').on('change', function () {
                    const category = this.value
                    $.ajax({
                        url: `{% url 'mystore:type-by-category' %}`,
                        method: 'get',
                        data: { 'category_id': category },
                        dataType: 'json',
                        success: (response) => {
                            $('#type').html('<option value="" style="display: none">Vui lòng chọn</option> ')
                            if (response.types && response.types.length > 0) {
                                for (let type of response.types) {
                                    $('#type').append(`<option value="${type[0]}"> ${type[1]} </option>`)
                                }
                            }
                        }
                    })
                });

                $('#type').on('change', function () {
                    let type_id = this.value    
                                    
                    var url_mask = "{% url 'mystore:new-product-detail' type_id=12345 %}".replace(/12345/, +(type_id.trim()));
                    window.location = url_mask
                })
            });


        </script>

    </div>
</body>
{% endblock content %}